<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.member.MemberMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.member.Member"></resultMap>
	
	<sql id ="selectCommon">
		FROM member a
		WHERE 1=1
			
		<if test="shdelNY !=null and !shdelNY.equals('')">AND a.delNY = #{shdelNY}</if>
		<if test="shGender !=null and !shGender.equals('')">AND a.gender = #{shGender}</if>
		<if test="shPosition !=null and !shPosition.equals('')">AND a.position = #{shPosition}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">AND a.name LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 2">AND a.id LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND a.email LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.dob BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT 
			   a.seq
			  ,a.name
		      ,a.id
		      ,a.position
		      ,a.gender
		      ,a.dob
		      ,a.phone
		      ,a.email
		      ,a.mobileNY
		      ,a.emailNY
		      ,a.personalInfo
		      ,a.delNY
		      ,a.regDatetime
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO member(
			name
			,id
			,password
			,position
			,gender
			,dob
			,telCompany
			,phone
			,phone2
			,emailInsert
			,emailDomain
			,mobileNY
			,emailNY
			,personalInfo
			,delNY
			,regDatetime
			,company
			,creatorNickname
		)
		VALUES (
			#{name}
			,#{id}
			,#{password}
			,#{position}
			,#{gender}
			,#{dob}
			,#{telCompany}
			,#{phone}
			,#{phone2}
			,#{emailInsert}
			,#{emailDomain}
			,#{mobileNY}
			,#{emailNY}
			,#{personalInfo}
			,0
			,now()
			,#{company}
			,#{creatorNickname}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE member
		SET
			position = #{position}
			,seq = #{seq}
			,name = #{name}
			,id = #{id}
			,password = #{password}
			,password = #{password}
			,company = #{company}
			,creatorNickname = #{creatorNickname}
			,dob = #{dob}
			,gender = #{gender}
			,telCompany = #{telCompany}
			,phone = #{phone}
			,phone2 = #{phone2}
			,emailInsert = #{emailInsert}
			,emailDomain = #{emailDomain}
			,mobileNY = #{mobileNY}
			,emailNY = #{emailNY}
			,personalInfo = #{personalInfo}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE member
		SET
			delNY = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE seq = #{seq}
	</delete>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			FROM member a
			WHERE 1=1
			AND seq = #{seq}
	</select>
	
</mapper>