<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.member.MemberMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select a.seq
			  ,a.name
		      ,a.id
		      ,a.position
		      ,a.gender
		      ,a.dob
		      ,a.phone
		      ,a.email
		      ,a.mobileNY
		      ,a.emailNY
		      ,a.personalInfo
		      ,a.delNY
		      ,a.regDatetime
		FROM member a
		WHERE 1=1
			<!-- AND delNY = 0
			AND id LIKE CONCAT('%', #{shValue}, '%') -->
		<!-- select a.*
		FROM member a
		WHERE 1=1
			AND delNY = 0 -->
			
		<if test="shdelNY !=null and !shdelNY.equals('')">AND a.delNY = #{shdelNY}</if>
		<if test="shGender !=null and !shGender.equals('')">AND a.gender = #{shGender}</if>
		<if test="shPosition !=null and !shPosition.equals('')">AND a.position = #{shPosition}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">AND a.name LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 2">AND a.id LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND a.email LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.dob BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
						
	</select>
	
	<insert id="insert">
		INSERT INTO member(
			name
			,id
			,password
			,position
			,gender
			,dob
			,telCompany
			,phone
			,phone2
			,emailInsert
			,emailDomain
			,mobileNY
			,emailNY
			,personalInfo
			,delNY
			,regDatetime
			,company
			,creatorNickname
		)
		VALUES (
			#{name}
			,#{id}
			,#{password}
			,#{position}
			,#{gender}
			,#{dob}
			,#{telCompany}
			,#{phone}
			,#{phone2}
			,#{emailInsert}
			,#{emailDomain}
			,#{mobileNY}
			,#{emailNY}
			,#{personalInfo}
			,0
			,now()
			,#{company}
			,#{creatorNickname}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
            ,a.name
            ,a.id
            ,a.password
            ,a.dob
            ,a.emailInsert
            ,a.phone
            ,a.phone2
            ,a.company
            ,a.creatorNickname
			FROM member a
			WHERE 1=1
			AND name = #{name}
	</select>
	
</mapper>