<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.member.MemberMapper">
    <resultMap id="resultMapObj" type="com.class101project.modules.member.Member"></resultMap>
	
	<sql id ="selectCommon">
		FROM member a
		left join transport b on b.member_seq = a.seq
		WHERE 1=1
			
		<if test="shdelNY !=null and !shdelNY.equals('')">AND a.delNY = #{shdelNY}</if>
		<if test="shGender !=null and !shGender.equals('')">AND a.gender = #{shGender}</if>
		<if test="shPosition !=null and !shPosition.equals('')">AND a.position = #{shPosition}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">AND a.name LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 2">AND a.id LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND a.email LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.dob BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT 
			   a.seq
			  ,a.name
		      ,a.id
		      ,a.position
		      ,a.gender
		      ,a.dob
		      ,a.phone
		      ,a.email
		      ,a.mobileNY
		      ,a.emailNY
		      ,a.personalInfo
		      ,a.delNY
		      ,a.regDatetime
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO member(
			name
			,id
			,password
			,position
			,gender
			,dob
			,telCompany
			,phone
			,phone2
			,emailInsert
			,emailDomain
			,email
			,mobileNY
			,emailNY
			,personalInfo
			,delNY
			,regDatetime
			,company
			,creatorNickname
		)
		VALUES (
			#{name}
			,#{id}
			,#{password}
			,#{position}
			,#{gender}
			,#{dob}
			,#{telCompany}
			,#{phone}
			,#{phone2}
			,#{emailInsert}
			,#{emailDomain}
			,#{email}
			,#{mobileNY}
			,#{emailNY}
			,#{personalInfo}
			,0
			,now()
			,#{company}
			,#{creatorNickname}
		)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- member profile uploaded -->
	<insert id="memberUploadInsert">
		INSERT INTO memberUploaded (
		    type
		    ,defaultNY
		    ,sort
		    ,originalName
		    ,uuidName
		    ,ext
		    ,size
		    ,uploadDelNY
		    ,pseq
		    ,regDate
		    ,path
		   )
		   VALUES (
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{uploadDelNY}
			,#{pseq}
			,now()
			,#{path}
			)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="addressInsert">
		INSERT INTO transport (
			zipcode
			,address
			,addressDetail
			,addr3
			,member_seq
		)
		VALUES (
			#{zipcode}
			,#{address}
			,#{addressDetail}
			,#{addr3}
			,#{seq}
		)
		<selectKey resultType="String" keyProperty="member_seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE member
		SET
			position = #{position}
			,seq = #{seq}
			,name = #{name}
			,id = #{id}
			,password = #{password}
			,company = #{company}
			,creatorNickname = #{creatorNickname} 
			,dob = #{dob}
			,gender = #{gender}
			,telCompany = #{telCompany}
			,phone = #{phone}
			,phone2 = #{phone2}
			,email = CONCAT(#{emailInsert},
			<choose>
				<when test="emailDomain eq 28">'@naver.com')</when>
				<when test="emailDomain eq 29">'@gmail.com')</when>
				<when test="emailDomain eq 30">'@daum.net')</when>
			</choose>
			,emailInsert = #{emailInsert}
			,emailDomain = #{emailDomain}
			,mobileNY = #{mobileNY}
			,emailNY = #{emailNY}
			,personalInfo = #{personalInfo}
			WHERE
			seq = #{seq}
	</update>
	
	<update id="mypageUpdate">
		UPDATE member
		SET
			position = #{position}
			,seq = #{seq}
			,name = #{name}
			,id = #{id}
			,company = #{company}
			,creatorNickname = #{creatorNickname}
			,dob = #{dob}
			,gender = #{gender}
			,telCompany = #{telCompany}
			,phone = #{phone}
			,phone2 = #{phone2}
			,email = CONCAT(#{emailInsert},
			<choose>
				<when test="emailDomain eq 28">'@naver.com')</when>
				<when test="emailDomain eq 29">'@gmail.com')</when>
				<when test="emailDomain eq 30">'@daum.net')</when>
			</choose>
			,emailInsert = #{emailInsert}
			,emailDomain = #{emailDomain}
			,mobileNY = #{mobileNY}
			,emailNY = #{emailNY}
			,personalInfo = #{personalInfo}
			WHERE
			seq = #{seq}
	</update>
	
	<update id="addressUpdate">
		UPDATE transport
		SET
			zipcode = #{zipcode}
			,address = #{address}
			,addressDetail = #{addressDetail}
			,addr3 = #{addr3}
		WHERE
			member_seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE member
		SET
			delNY = 1
		WHERE
			seq = #{seq}
	</update>
	
	<update id="ueleteList">
		UPDATE member
		SET
			delNY = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE seq = #{seq}
	</delete>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			FROM member a
			WHERE 1=1
			AND a.seq = #{seq}
	</select>
	
	<select id="selectOneAdd" resultMap="resultMapObj">
		SELECT
			a.*
			FROM transport a
			WHERE 1=1
			AND member_seq = #{seq}
			AND tOrder = 1
	</select>
	
	<select id="selectLastSeq" resultType="Integer">
		SELECT
			seq
			FROM member
			ORDER BY seq DESC
				LIMIT 1
	</select>
	
	<select id="selectOneIdCheck" resultType="Integer">
		SELECT 
			COUNT(id) 
			FROM member 
			WHERE id= #{id}
	</select>
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT 
			a.seq
			,a.id
			FROM member a 
			WHERE a.id= #{id}
	</select>
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT 
			a.seq
			,a.id
			,a.name
			,a.email
			FROM member a 
			WHERE a.id= #{id}
			AND a.password = #{password}
	</select>
	
	<select id="selectMemberImg" resultMap="resultMapObj">
		SELECT
		 * 
		 FROM memberUploaded
		 WHERE
		 pseq = #{seq}
	
	</select>
</mapper>