<?xml version="1.0" encoding="UTF-8" ?>

<!--2. mapper .xml -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.codegroup.CodeGroupMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.codegroup.CodeGroup"></resultMap>
	 
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		 a.seq
           ,a.codeGroupCode
           ,a.nameKr
           ,a.name
           ,(select count(b.codeGroup_seq) from code b where b.codeDelNY=0 and b.codeGroup_seq=a.seq)as codeNum
           ,a.cgDelNY
           ,a.cguseNY
           ,DATE_FORMAT(a.regDate, '%Y-%m-%d-%T') as regDate
           ,DATE_FORMAT(a.modDate, '%Y-%m-%d-%T') as modDate
	FROM codeGroup a
	WHERE 1=1
		<!-- AND delNY = 0 -->
		<!-- AND nameKr LIKE CONCAT('%', #{shValue}, '%') -->	
			<!-- SELECT 
				a.*
			FROM chooseTest a
			WHERE 1=1
				AND delNY = 0 -->
		
		<if test="shDelNY !=null and !shDelNY.equals('')">AND a.cgDelNY = #{shDelNY}</if>
		<if test="shCgValue != null"></if>
		
		
		<choose>
			<when test="shCgOption == 1">AND a.seq = #{shCgValue}</when> <!-- seq: = #{shValue} -->
			<when test="shCgOption == 2">AND a.nameKr LIKE CONCAT('%', #{sCghValue},'%')</when> <!-- 문자열: LIKE CONTACT('%', #{shValue},'%') -->
			<when test="shCgOption == 3">AND a.name LIKE CONCAT('%', #{shCgValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	
	</select>

</mapper>	