<?xml version="1.0" encoding="UTF-8" ?>

<!--2. mapper .xml -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.class101project.modules.codegroup.CodeGroup"></resultMap>
	 
	<sql id ="selectCommon">
	 	FROM codeGroup a
		WHERE 1=1
		
		<if test="shDelNY !=null and !shDelNY.equals('')">AND a.cgDelNY = #{shDelNY}</if>
		<if test="shCgValue != null"></if>
		
		<choose>
			<when test="shCgOption == 1">AND a.seq = #{shCgValue}</when>
			<when test="shCgOption == 2">AND a.nameKr LIKE CONCAT('%', #{shCgValue},'%')</when>
			<when test="shCgOption == 3">AND a.name LIKE CONCAT('%', #{shCgValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.regDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql> 
	 
	 
	<select id="selectList" resultMap="resultMapObj">
	   <include refid="Base.selectListUpperForMysql" />
		SELECT
		 	a.seq
           ,a.codeGroupCode
           ,a.nameKr
           ,a.name
           ,(select count(b.codeGroup_seq) from code b where b.codeDelNY=0 and b.codeGroup_seq=a.seq)as codeNum
           ,a.cgDelNY
           ,a.cgUseNY
           ,a.regDate
           ,a.modDate
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup(
			codeGroupCode
			,nameKr
			,name
			,codeNum
			,cgDelNY
			,cgUseNY
			,regDate
		)
		VALUES (
			#{codeGroupCode}
			,#{nameKr}
			,#{name}
			,#{codeNum}
			,0
			,1
			,now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE codeGroup
		SET
			codeGroupCode = #{codeGroupCode}
			,nameKr = #{nameKr}
			,name = #{name}
			,codeNum = #{codeNum}
			,cgDelNY = #{cgDelNY}
			,cgUseNY = #{cgUseNY}
			,modDate = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE codeGroup
		SET
			cgDelNY = 1
		WHERE 1=1 
			AND seq = #{seq}
	</update>
	
	<update id="ueleteList">
		UPDATE codeGroup
		SET
			cgDelNY = 1
		WHERE 1=1 
			AND seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM codeGroup WHERE 1=1 AND seq = #{seq}
	</delete>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			FROM codeGroup a
			WHERE 1=1
			AND a.seq = #{seq}
	</select>
	

</mapper>	