<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.review.ReviewMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.review.Review"></resultMap>
	
	<sql id ="selectCommon">
		FROM review a
		left join classProduct b on b.seq = a.classProduct_seq
		ORDER BY a.seq DESC
			
		<if test="shdelNY !=null and !shdelNY.equals('')">AND a.reviewDelNY = #{shdelNY}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">AND a.id LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 2">AND a.content LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.reviewRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.reviewModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO review(
		      id
		      ,classProduct_seq
		      ,member_seq
		      ,content
		      ,reviewDelNY
		      ,reviewRegDate
		      ,preferenceStar
		)
		VALUES (
			  #{id}
			  ,#{classProduct_seq}
			  ,#{member_seq}
		      ,#{content}
		      ,0
		      ,now()
		      ,#{preferenceStar} 
		)
	</insert>
	

	<!-- <update id="update">
		UPDATE review
		SET
			id = #{id}
			,preferenceStar = #{preferenceStar}
			,content = #{content}
			,classProgressRate = #{classProgressRate}
			,reviewLike = #{reviewLike}
			,reviewDelNY = #{reviewDelNY}
			,reviewModDate = now()
			WHERE
			seq = #{seq}
	</update>
	
	<update id="memberUpdate">
		UPDATE member
		SET
			,name = #{name}
			,id = #{id}
			WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE review
		SET
			reviewDelNY = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM review WHERE seq = #{seq}
	</delete>
 -->
	
	<!-- selectList -->
	<!-- user -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
            ,c.uuidName
			,c.ext
			,c.pseq
			,c.path
			FROM review a
            left join memberUploaded c on c.pseq = a.member_seq
			WHERE 1=1
			AND a.classProduct_seq = #{classProduct_seq}
	</select>
	
	<!-- xdmin -->
	<select id="selectListxdmin" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT	
			a.seq
			,a.id
			,a.classProduct_seq
			,b.category
			,a.preferenceStar
			,a.content
			,a.reviewRegDate
			,a.reviewModDate 
			,a.reviewDelNY
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<!-- select Avg -->
	<select id="selectAvgReview" resultMap="resultMapObj">
		SELECT 
			round(avg(preferenceStar),1) as avgStar 
			FROM review
			WHERE 1=1
			AND classProduct_seq = #{classProduct_seq}
	</select>
	
	<!-- My review List -->
	<select id="selectListMyReview" resultMap="resultMapObj">
		SELECT	
			c.category
            ,c.title
			,a.preferenceStar
			,a.content
			,a.reviewRegDate
		FROM review a
        left join member b on b.seq = a.member_seq
        left join classProduct c on c.seq = a.classProduct_seq
        where 1=1
        AND a.member_seq = #{member_seq}
	</select>
</mapper>