<?xml version="1.0" encoding="UTF-8" ?>

<!--2. mapper .xml -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.code.CodeMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		 b.seq
		,b.codeGroup_seq
		,a.nameKr
	    ,b.code
	    ,b.codeAnother
	    ,b.codeNameKr
	    ,b.codeName
	    ,b.codeUseNY
	    ,b.codeDelNY
	    ,b.order
	    ,DATE_FORMAT(b.codeRegDate, '%Y-%m-%d-%T') as codeRegDate
	    ,DATE_FORMAT(b.codeModDate, '%Y-%m-%d-%T') as codeModDate
	FROM codeGroup a
	 left join code b on b.codeGroup_seq = a.seq
	 WHERE 1=1
		<!-- AND b.delNY = 0
		AND nameKr LIKE CONCAT('%', #{shValue}, '%') -->
		
		<if test="shCodeDelNY !=null and !shCodeDelNY.equals('')">AND b.codeDelNY = #{shCodeDelNY}</if>
		<if test="shValue != null"></if>
		
		
		<choose>
			<when test="shOption == 1">AND b.codeGroup_seq = #{shValue}</when>
			<when test="shOption == 2">AND a.nameKr LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND b.codeNameKr LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 4">AND b.codeName LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		
	</select>

</mapper>