<?xml version="1.0" encoding="UTF-8" ?>

<!--2. mapper .xml -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.code.CodeMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.code.Code"></resultMap>
	
	<!-- paging -->
	<sql id ="selectCommon">
		from code a 
		left join codeGroup b on b.seq = a.codeGroup_seq
		 WHERE 1=1
		
		<if test="shCodeDelNY !=null and !shCodeDelNY.equals('')">AND a.codeDelNY = #{shCodeDelNY}</if>
		<if test="shValue != null"></if>
		
		
		<choose>
			<when test="shOption == 1">AND a.codeGroup_seq = #{shValue}</when>
			<when test="shOption == 2">AND b.nameKr LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND a.codeNameKr LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 4">AND a.codeName LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.seq
			,a.codeGroup_seq
			,b.nameKr
			,a.code
			,a.codeAnother
			,a.codeNameKr
			,a.codeName
			,a.codeUseNY
			,a.codeDelNY
			,a.order
			,a.codeRegDate
			,a.codeModDate
			<include refid="selectCommon" />
			ORDER BY a.codeGroup_seq
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>

	<insert id="insert">
		INSERT INTO code(
			codeGroup_seq
			,codeNameKr
			,codeName
			,codeUseNY
			,codeDelNY
			,codeRegDate
		)
		VALUES (
			#{codeGroup_seq}
			,#{codeNameKr}
			,#{codeName}
			,1
			,0
			,now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE code
		SET
			codeGroup_seq = #{codeGroup_seq}
			,codeNameKr = #{codeNameKr}
			,codeName = #{codeName}
			,codeUseNY = #{codeUseNY}
			,codeDelNY = #{codeDelNY}
			,codeModDate = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE code
		SET
			codeDelNY = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM code WHERE seq = #{seq}
	</delete>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			FROM code a
			WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT
		a.seq
		,a.codeNameKr
		,a.codeName
		FROM code a
		WHERE 1=1
		 AND a.codeDelNY = 0
		 AND a.codeUseNY = 1
	</select>
	
</mapper>