<?xml version="1.0" encoding="UTF-8" ?>

<!--2. mapper .xml -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class101project.modules.order.OrderMapper">
<!-- code -> codegroup -->
    <resultMap id="resultMapObj" type="com.class101project.modules.order.Order"></resultMap>
	
	<!-- paging -->
	<sql id ="selectCommon">
		from classOrder a 
		left join member b on b.seq = a.member_seq
		left join transport c on a.member_seq = c.member_seq AND c.tOrder = 1
		left join classProduct d on d.seq = a.classProduct_seq
		ORDER BY a.seq DESC
				
		<if test="shDelNY !=null and !shDelNY.equals('')">AND a.delNY = #{shDelNY}</if>
		<if test="shValue != null"></if>
		
		
		<choose>
			<when test="shOption == 1">AND b.name LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 2">AND b.id LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND b.email LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 4">AND c.address LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 5">AND a.price = #{shValue}</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.orderDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.seq
			,b.name
			,b.id
			,b.email
			,d.title
			,a.price
			,a.priceDiscount
			,a.couponDiscount
			,a.finalPrice
			,a.pay
			,a.delNY
			,c.zipcode
			,c.address
			,c.addressDetail
			,c.addr3
			,a.orderDate
			<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>

	<insert id="insert">
		INSERT INTO classOrder a(
			b.name
			,b.phone
			,c.zipcode
			,c.address
			,c.addressDetail
			,c.addr3
			,a.request
			,a.price
			,a.priceDiscount
			,a.couponDiscount
			,a.finalPrice
			,a.pay
			,a.orderDate
		)
		VALUES (
			#{b.name}
			,#{b.phone}
			,#{c.zipcode}
			,#{c.address}
			,#{c.addressDetail}
			,#{c.addr3}
			,#{a.request}
			,#{a.price}
			,#{a.priceDiscount}
			,#{a.couponDiscount}
			,#{a.finalPrice}
			,#{a.pay}
			,now()
		)
		<include refid="selectCommon" />
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="orderUserInst">
		INSERT INTO classOrder(
			request
			,price
			,priceDiscount
			,couponDiscount
			,finalPrice
			,pay
			,orderDate
			,delNY
			,tOrder
			,classProduct_seq
			,member_seq
		)
		VALUES (
			#{request}
			,#{price}
			,#{priceDiscount}
			,#{couponDiscount}
			,#{finalPrice}
			,#{pay}
			,now()
			,0
			,1
			,#{classProduct_seq}
			,#{member_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	<update id="update">
		UPDATE classOrder
		SET
			b.name = #{b.name}
			,b.phone = #{b.phone}
			,c.zipcode = #{c.zipcode}
			,c.address = #{c.address}
			,c.addressDetail = #{c.addressDetail}
			,c.addr3 = #{c.addr3}
			,a.request = #{a.request}
			,a.price = #{a.price}
			,a.priceDiscount = #{a.priceDiscount}
			,a.couponDiscount = #{a.couponDiscount}
			,a.finalPrice = #{a.finalPrice}
			,a.pay = #{a.pay}
			,a.orderDate = now()
			<include refid="selectCommon" />
			WHERE
				seq = #{seq}
	</update>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
			,c.*
			from classOrder a 
			left join member b on b.seq = a.member_seq
			left join transport c on a.member_seq = c.member_seq AND c.tOrder = 1
			left join classProduct d on d.seq = a.classProduct_seq
			WHERE 1=1
				AND a.seq = #{seq}
	</select>
	
	<select id="selectOneOrder" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
			from member a  
			left join transport b on b.member_seq = a.seq AND b.tOrder = 1
			WHERE 1=1
			AND a.seq = #{mSeq}
	</select>
	<select id="selectOneView" resultMap="resultMapObj">
		SELECT
			 a.*
	         ,b.type
			 ,b.sort
			 ,b.originalName
			 ,b.uuidName
			 ,b.ext
			 ,b.pseq
			 ,b.path
             ,c.category
             ,c.title
             ,d.name
             ,d.id
             ,d.phone
             ,d.email
             ,e.zipcode
             ,e.address
             ,e.addressDetail
             ,e.addr3
		 FROM classOrder a
         left join productUploaded b on b.pseq = a.classProduct_seq
            left join classProduct c on c.seq = a.classProduct_seq
            left join member d on d.seq = a.member_seq
            left join transport e on e.member_seq = a.member_seq
		 WHERE
		 b.sort = 1
            AND a.member_seq = #{mSeq}
            AND a.seq = #{seq}
	</select>
	
	<select id="selectOrderComplete" resultMap="resultMapObj">
		SELECT
			 a.*
             ,c.category
             ,c.title
             ,d.name
             ,d.phone
             ,d.email
		 FROM classOrder a
            left join classProduct c on c.seq = a.classProduct_seq
            left join member d on d.seq = a.member_seq
		 WHERE
            a.member_seq = #{mSeq}
            AND a.seq = #{seq}
	</select>
	
	<!-- image -->
	<select id="selectProductImg" resultMap="resultMapObj">
		SELECT
		 a.*
         ,b.*
		 FROM productUploaded a
         left join classProduct b on b.seq = a.pseq
		 WHERE
		 a.pseq = #{seq}
		 AND a.sort = 1
	</select>
	
	<!-- selectList -->
	<select id="selectListOrder" resultMap="resultMapObj">
		SELECT
			 a.seq
			 ,a.classProduct_seq as pdSeq
			 ,a.member_seq as mSeq
			 ,a.orderDate
	         ,b.type
			 ,b.sort
			 ,b.originalName
			 ,b.uuidName
			 ,b.ext
			 ,b.pseq
			 ,b.path
             ,c.category
             ,c.title
			 FROM classOrder a
	         left join productUploaded b on b.pseq = a.classProduct_seq
             left join classProduct c on c.seq = a.classProduct_seq
             left join member d on d.seq = a.member_seq
			 WHERE
			 b.sort = 1
             AND a.member_seq = #{mSeq}
	</select>
	
</mapper>